<li>
  <h1> <%= post.title  %></h1>
  <ul class="questions">
    <% post.questions.each do |question| %>
      <div class="question">
        <li><%= question.content %></li>
        <div class="<%= question.post_id%>_vote">
          <%= form_for question, html: { id: :vote_form }, remote: true do |f| %>
          <%= f.submit "Vote", class: "vote-button", id: question.id%>
          <% end %>
        </div>

        <div class="vote_count_hide <%= question.post_id %>">
          <p>Votes:
             <span id="<%= question.id %>_votes">
               <%=question.votes %>
             </span>
          </p>
        </div>
      </div>
    <% end %><!-- end of each loop for question -->
  </ul>
</li>
