<% if @posts.any? %>
<div>
  <ul id="posts">
     <% @posts.each do |post| %>
      <li>
        <h1> <%= post.title  %></h1>
         <ul class="questions">
             <% post.questions.each do |question| %>
             <div class="question">
               <li><%= question.content %></li>
               <%= form_for question do |f| %> <%= f.submit "Vote", class: "vote-button" %> <% end %>
                <span>Votes: <% if question.votes %> <%=question.votes %> <% else %> 0 <% end %></span>
             </div>
              <% end %>
          </ul>
      </li>

     <% end %>
  </ul>
</div>

<% else %>
 <p> No posts yet. </p>
<% end %>

<p>
  <%= link_to "New Post", new_post_path, id: "new_link", remote: true %>
</p>
